= simple_form_for @phone_number, url: phone_number_path(@phone_number), remote: true do |f|
  = f.hidden_field :number, value: params.dig(:user_phone, :number)
  = f.input :code, value: nil
  = f.submit :OK
