#update_email_btn {
	display: none;
}

#remove_account_btn {
	width: 65%;
	color: #4E6472;
	background-color: #102F44;
	border: none;
	margin: 20px;
}

#add_number_btn {
	background: transparent;
	color: white;
	text-shadow: 0 0 5px white;
	width: 65%;
	border-color: white;
	box-shadow: 0 0 8px white;
	position: relative;
	border: 2px solid #fff;
	box-shadow: 0px 0px 10px #fff;
	margin: 10px;
	margin-top: 40px;
}

#add_number_btn::after {
	content: "";

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	box-shadow: inset 0px 0px 10px #fff;
}
.profile_page_cont{
	.string{
		border: none;
		box-shadow: none;
	input{
		border: 1px solid #ec991f;
		width: 30%;
		box-shadow: inset 0px 0px 10px  #ec991f;
	}
	}
}
.profile_page_cont{
	.string{
		border: none;
		box-shadow: none;
	input{
		border: 1px solid #ec991f;
		width: 30%;
		box-shadow: inset 0px 0px 10px  #ec991f;
	}
	}
}

.enter_code_confirm{
	.edit_user_phone{
		float: left;
    width: 100%;
    margin-top: 20px;
	}
}


#ok_btn, #submit_code_btn {
	border: 2px solid white ;
	box-sizing: border-box;
	background-color: white;
	color: #102F44;
	padding: 0 20px;
}

#ok_btn {
	margin-left: 50%;
}

#submit_code_btn {
	margin-left: 50%;
}

#user_email {
	width: 52%;
	height: 100%;
	margin-top: 35px;
	margin-bottom: 20px;
	padding: 3px 10px;
	border: 1px solid  #dddddd;
}

#user_email_style {
	label {
		border: 2px solid white ;
		box-sizing: border-box;
		background-color: white;
		color: #102F44;
		padding: 0 20px;
		abbr {
			display: none;
		}
	}
}

ul {
  list-style-type: none;
 /* li:before {
  	content: "\f095";  FontAwesome Unicode 
  	font-family: FontAwesome;
  	display: inline-block;
  	margin-left: -1.3em; 
		width: 1.5em;
 }*/
}

#new_user_phone {
	padding-bottom: 20px;
	/*width: 25%;*/
	label {
		abbr {
			display: none;
		}
	}	
}

/*#user_phone_form {
	width: 25%;
	margin: 0 auto;
	padding-bottom: 20px;
}*/



#user_phone_code {
	width: 25%;
	border: 1px solid  #dddddd;
}

#user_phones {
	padding: 0;
	margin-bottom: 25px;
}

.profile_phone{
	width: 60%;
	border: 1px solid #dddddd;
	float: left;
	margin-top: 40px;
	box-shadow: inset 0px 0px 10px #fff;
	margin-left: 17%;

}
.profile_remove_button{
	margin-left: 20px;
	border: 1px solid #dddddd;
	float: left;
	margin-top: 40px;
	box-shadow: inset 0px 0px 10px #fff;
	button{
		background: none;
		color: #ec991f;
		border: none;
	}
}
.not_confirmed{
	width: 70%;
	margin-left: 17%;
	text-align: left;
	float: left;
	color:#ec991f;
}

.confirm_new_phone_btn{
	border: none;
	background: #ec991f;
}
.profile_phone_cont{
	margin-top: -40px;
}

#user_phone_form{
	float: left;
	width: 100%;
	label{
		margin-top: 20px;
	}
}

#user_email_style{
	float: left;
	width: 100%;
}
